iframe{
    width: 1000px;
    height: 1000px;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
    border-bottom: none;
    border-left: none;
    border-top: none;
    border-right: none:
   
}