* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: hydrophilia-iced,sans-serif;
font-weight: 400;
font-style: normal;
    color: white;
    background-color: black;
}

.header {
  text-align: center;
  padding: 32px;
}







body {
    font-size:40px;
    font-family: hydrophilia-iced, sans-serif;
font-style: normal;
font-weight: 400;
    color: white;
    text-align: center;
   
background-image: url("FISHNETBACK.png");
    margin-left: 30px;
    background-size:cover;
    

   
    }
div {
    margin-bottom: 30px;
    margin-top: -50px;
}
a {
    color: white;
    text-decoration:overline;
    text-decoration-color: fuchsia;
}

li {
   list-style-type:none;
    padding-bottom: 5px;
   }

.grid { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  align-items: end;
  }
.grid img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}
